$color-gray: #5B5B66;
$color-light-gray: #F0F0F4;
$font-size-subline: 20px;
$space-small: 8px;
$space-normal: 16px;

.content-info-box {
    margin: $space-normal;
    padding: $space-normal;
    background-color: $color-light-gray;
    border: 1px solid $color-gray;

    h1, h2, h3 {
        span {
            display: block;
            color: $color-gray;
            font-size: $font-size-subline;
            padding-bottom: 8px;
        }
    }

    .subheadline {
        color: $color-gray;
        font-size: $font-size-subline;
        padding-bottom: $space-small;
    }
}

.module-cars {
    .empty {
        color: #ff0000;
        font-style: italic;
    }

    .car {
        padding-bottom: $space-small;
        margin-bottom: $space-small;
        border-bottom: 1px solid $color-gray;

        > div {
            display: inline-block;
        }

        .marke {
            font-weight: bold;
        }

        .baujahr {
            color: $color-gray;
        }
    }
}