# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Generated folders
/assets/
/system/
/templates/
/var/
/vendor/
/web/*
/public/
.htaccess
composer.phar
gulp.config.js
/node_modules/
/app/
/app/Resources/contao/config/runonce*
.phpunit.result.cache

/packages
/public
/contao-manager

/config/parameters.yml
/contao

.env.local
LICENSE
/bin/console
