{% extends "@Contao/frontend_module/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}

{%  block content %}

    {% if cars is empty %}
        <div class="empty">Leider hast du keine Autos in deiner Sammlung.</div>
    {% else %}
        {% for car in cars %}
            <div class="car">
                <div class="image">
                    {% if car.image %}
                        {% with {figure: car.image} %}{{ block('figure_component') }}{% endwith %}
                    {% endif %}
                </div>
                <div class="marke">{{ car.marke }}</div>
                <div class="baujahr">{{ car.baujahr }}</div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
